<div class="cutting-room">
    <section class="player">
        <video id="player" src="media/copter.ogv" controls preload="auto">
            Your browser does not support the <code>video</code> element.
        </video>
    </section>

    <div class="toolbox">
        <ul class="tabs">
            <li id="video-tab" class="active">Video</li>
            <li id="revisions-tab">Revisions</li>
            <li id="chat-tab">Chat</li>
        </ul>

        <section class="library toolbox-section active" id="library">

        </section>

        <section class="revisions toolbox-section" id="revisions">

        </section>
    </div>

    <section id="workspace" class="workspace">

    </section>

    <section class="social">

    </section>
</div>