<div class="index-page">
  <div class="header">
    <div class="container">
      <h1>Hello, I am Index.</h1>
      <h2>I have dreams of becoming beautiful.</h2>
    </div>
  </div>

  <div class="content-wrap container">
    <div class="sidebar">
      <div class="nav">
        <a id="page-one-nav" href="#/page/one">Page One</a>
        <a id="page-two-nav" href="#/page/two">Page Two</a>
      </div>
    </div>

    <div id="content"></div>
  </div>
</div>
