<h2>Upload Media</h2>


<form action="/api/medium" method="post" enctype="multipart/form-data">
    <p>
        <input type="file" name="source"/>
    </p>

    <p>
        <label>
            name <input type="text" name="name"/>
        </label>
    </p>

    <p>
        <input type="submit"/>
    </p>
</form>