* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background-color: #eeeeee;
  height: 100%;
  color: #555555; }

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px; }

#js-app a {
  cursor: pointer; }
#js-app h1, #js-app h2, #js-app h3, #js-app h4, #js-app h5 {
  color: #6b6b6b; }
#js-app h1 {
  font-size: 360%;
  font-weight: 900; }
#js-app h2 {
  font-size: 220%;
  font-weight: 400;
  color: #dc2863; }
#js-app .sub-header {
  color: #1cb8bb; }
#js-app .container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  #js-app .container:before, #js-app .container:after {
    content: " ";
    display: table; }
  #js-app .container:after {
    clear: both; }
#js-app .header {
  background-color: white; }
  #js-app .header h1 {
    margin-bottom: 0;
    margin-top: 0; }
  #js-app .header h2 {
    margin-top: .25em;
    margin-bottom: .25em; }
#js-app .content-wrap {
  position: relative;
  height: 100%; }
  #js-app .content-wrap .sidebar {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    height: 100%; }
    #js-app .content-wrap .sidebar:last-child {
      margin-right: 0; }
    #js-app .content-wrap .sidebar .nav a {
      width: 100%;
      display: block;
      padding: 0 1.5em .5em 20px;
      font-size: 125%;
      color: #1cb8bb;
      text-decoration: none; }
      #js-app .content-wrap .sidebar .nav a.active {
        font-weight: bold; }
      #js-app .content-wrap .sidebar .nav a:hover {
        text-decoration: underline; }
#js-app #content {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0; }
  #js-app #content:last-child {
    margin-right: 0; }
  #js-app #content h3 {
    margin-top: 0; }
