@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

$header-bg-color: white;
$bg-color: #eee;

$header-color: #6B6B6B;
$sub-header-color: #DC2863;
$font-color: #555555;
$link-color: #1CB8BB;

html, body {
    background-color: $bg-color;
    height: 100%;
    color: $font-color;
}
body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#js-app {
    a {
        cursor: pointer;
    }
    h1, h2, h3, h4, h5 {
        color: $header-color;
    }
    h1 {
        font-size: 360%;
        font-weight: 900;
    }
    h2 {
        font-size: 220%;
        font-weight: 400;
        color: $sub-header-color;
    }
    .sub-header {
        color: $link-color;
    }

    .container {
        @include outer-container;
        padding: 20px;
    }

    .header {
        background-color: $header-bg-color;

        h1 {
            margin-bottom: 0;
            margin-top: 0;
        }
        h2 {
            margin-top: .25em;
            margin-bottom: .25em;
        }
    }

    .content-wrap {
        position: relative;
        height: 100%;

        .sidebar {
            @include span-columns(3);
            height: 100%;

            .nav {
                a {
                    width: 100%;
                    display: block;
                    padding: 0 1.5em .5em 20px;
                    font-size: 125%;
                    color: $link-color;
                    text-decoration: none;

                    &.active {
                        font-weight: bold;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #content {
        @include span-columns(9);
        @include omega();

        h3 {
            margin-top: 0;
        }
    }
}

.cutting-room {
    .top-half, .toolbar {
        @include row();
    }

    .player {
        @include span-columns(8);
        padding: 0;
        margin: 0;

        video {
            width: 100%;
        }
    }

    .toolbox {
        @include span-columns(4);
        padding: 0;
        margin: 0;
        height: 100%;

        .tabs {
            list-style: none;
            margin: 0 0 10px 0;
            padding: 0;
            border-bottom: 1px solid #ccc;
            width: 100%;

            li {
                padding: 10px 0;
                display: inline-block;
                width: 32%;
                text-align: center;
                border-left: 1px solid #ccc;
                cursor: pointer;

                &.active {
                    font-weight: 900;
                    color: blue;
                }
            }
        }

        .revisions {

            .revision-list {
                overflow-y: scroll;
                list-style: none;
                margin: 0;
                padding: 0;

                .revision {
                    margin: 0;
                    border-bottom: 1px solid #ccc;
                    padding: 10px 20px;

                    &.active {
                        background-color: #aaaaff;
                    }

                    .icon {
                        height: 1em;
                        display: inline-block;
                        float: right;
                        margin-left: 20px;
                        cursor: pointer;
                    }
                }
            }


        }
    }

    .timeline {
        @include row();
        padding: 20px 0;
        overflow-x: scroll;
        overflow-y: hidden;
        border-top: 1px solid #ccc;

        ol {
            display: block;
            width: 1450px;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .panel {
            display: inline-block;

            .thumbnail {
                width: 100px;
            }

            .time {
                display: inline-block;
                height: 20px;
                margin-top: 20px;
                background-color: blue;
            }
        }
    }

    .toolbar {
        border-top: 1px solid #ccc;
        padding: 5px 20px;

        .title {
            display: inline-block;
        }
        .button {
            display: inline-block;
            float: right;
            margin-left: 20px;
        }
    }
}

.forum-topic {
    border-top: 1px solid #ccc;
    width: 100%;

    .forum-bar {
        border-bottom: 1px solid #ccc;
        @include row();

        .forum-button {
            border-left: 1px solid #ccc;
            padding: 5px 10px;
            float: right;
            cursor: pointer;

            &.active {
                background-color: #aaaaff;
            }
        }
    }

    .forum-post {
        border-bottom: 1px solid #ccc;
        height: 60px;
        @include row();

        .profile {
            box-sizing: border-box;
            padding: 10px 20px;
            height: 60px;
            display: inline-block;

            width: 20%;
            border-right: 1px solid #ccc;
        }

        .post {
            height: 60px;
            display: inline-block;
            width: 79%;
        }
    }
}

.add-reply {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.big-button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 10px;

    &.active {
        background-color: #aaaaff;
    }
}
